SpringBootSOAPServiceClient/src/main/resources/wsdl/loanEligibility.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.springboot.com/soap/api/loanEligibility"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.springboot.com/soap/api/loanEligibility" targetNamespace="http://www.springboot.com/soap/api/loanEligibility">
	<wsdl:types>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.springboot.com/soap/api/loanEligibility">
			<xsd:element name="CustomerRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="customerName" type="xsd:string"/>
						<xsd:element name="age" type="xsd:int"/>
						<xsd:element name="yearlyIncome" type="xsd:long"/>
						<xsd:element name="cibilScore" type="xsd:int"/>
						<xsd:element name="employmentMode" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CustomerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="isEligible" type="xsd:boolean"/>
						<xsd:element name="approvedAmount" type="xsd:long"/>
						<xsd:element maxOccurs="unbounded" name="CriteriaMismatch" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CustomerResponse">
		<wsdl:part element="tns:CustomerResponse" name="CustomerResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CustomerRequest">
		<wsdl:part element="tns:CustomerRequest" name="CustomerRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LoanEligibiltyIndicator">
		<wsdl:operation name="Customer">
			<wsdl:input message="tns:CustomerRequest" name="CustomerRequest"></wsdl:input>
			<wsdl:output message="tns:CustomerResponse" name="CustomerResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LoanEligibiltyIndicatorSoap11" type="tns:LoanEligibiltyIndicator">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Customer">
			<soap:operation soapAction=""/>
			<wsdl:input name="CustomerRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="CustomerResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LoanEligibiltyIndicatorService">
		<wsdl:port binding="tns:LoanEligibiltyIndicatorSoap11" name="LoanEligibiltyIndicatorSoap11">
			<soap:address location="http://localhost:8089/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>